*{
	padding: 0;
	margin: 0;
}
header, footer, nav, main, section, article, nav, aside {
	display: block;
}
body{
	background: #F2EEE5;
	direction:rtl;
}
main{
	position: relative;
	height:762px;
}
footer{
	background: #ac8c73;
	height:54px;
}
main>article{
	height:376px;
	width:370px;
	position:absolute;
	top:93px;
	right:104px;
	color:#9f161e;
	font-size:50px;
}
main>article>h3{
	color:#9e8986;
	font-size:30px;
	margin-top:20px;
}
#cart{
	width:150px;
	height:134px;
	background: url("../images/agala.png");
	position:fixed;
	bottom:54px;
	right:104px;
	z-index: 1;
}
#arrows{
	width:145px;
	height:64px;
	background: url("../images/hezim.png");
	position:absolute;
	bottom:34px;
	right:314px;
}
.groceries{
	width:76px;
	height:121px;
	margin-left:15px;
	margin-bottom:28px;
}
/*/////////////////////////////////// Sections //////////////////////////////*/

#fruitsAndVedg,#milk,#CannedFood,#meat,#bread,#oil,#drinks{
	position:absolute;
	top:169px;
}
#fruitsAndVedg{
	width:1240px;
	right:830px;
}
#milk{
	width:386px;
	right:2308px;
}
#CannedFood{
	width:282px;
	right:2991px;
}
#meat{
	width:382px;
	right:3545px;
}
#bread{
	width:376px;
	right:4151px;
}
#oil{
	width:477px;
	right:4805px;
}
#drinks{
	width:187px;
	right:5504px;
}

/*/////////////////////////////////// Signs //////////////////////////////*/

#fruitsAndVedgSign,#milkSign,#CannedFoodSign,#meatSign,#breadSign,#oilSign,#drinksSign,#whiteBoard,#cashier,#checkout{
	
	position:absolute;
}
#fruitsAndVedgSign{
	width:335px;
	height:91px;
	background: url("../images/shelet yarakot.png");
	right:1318px;
}
#milkSign{
	width:297px;
	height:118px;
	background: url("../images/shelet musrei halav.png");
	right:2350px;
}
#CannedFoodSign{
	width:399px;
	height:118px;
	background: url("../images/shelet shimurim.png");
	right:2927px;
}
#meatSign{
	width:340px;
	height:109px;
	background: url("../images/shelet of ve dagim.png");
	right:3545px;
}
#breadSign{
	width:293px;
	height:120px;
	background: url("../images/shelet lehem dganim.png");
	right:4212px;
}
#oilSign{
	width:449px;
	height:110px;
	background: url("../images/shelet shemen sukar mamtakim.png");
	right:4811px;
}
#drinksSign{
	
	width:320px;
	height:109px;
	background: url("../images/shelet mashkaot.png");
	right:5436px;
}
#whiteBoard{
	right:5788px;
	width:245px;
	height:620px;
	background: #ffffff;
	overflow-y: auto;
	opacity:0.8;
}
#checkout{
	right:6199px;
	width:281px;
	height:469px;
	background: url("../images/shelet kupa.png");
}
#cashier{
	top:480px;
	right:6199px;
	width:286px;
	height:282px;
	background: url("../images/cashier.png");
}
