@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);

header, footer, nav, main, section, article, nav, aside {
	display: block;
}

html, body {
	/* get rid of default spacing on the edges */
	margin: 0;
	padding: 0;
	/* get rid of that 2px window border in Internet Explorer 6 */
	border: 0;
	/* fill the height of the browser */
	height: 100%;
	/* no more scroll bar */
	overflow-y: hidden;
}
body {
	background: #F2EEE5;
	direction: rtl;
	position: relative;
	font-family: "Alef Hebrew", Arial;
}

main {
	width: 8683px;
	height: 95%;
}
footer {
	position: absolute;
	bottom: 0px;
	background: url("../images/rizpa.png");
	height: 5%;
	width: 8683px;
}
main > article {
	width: 400px;
	/*position: absolute;
	right: 104px;*/
	float:right;
	margin-right:104px;
	color: #9f161e;
	margin-left:246px;
}
main > article > h1 {
	font-size: 3.3em;
	font-weight:800;
	
}
main > article > p {
	color: #9e8986;
	font-size: 1.4em;
	line-height: 30px;
}

.groceries {
	width: 76px;
	height: 120px;
	margin-left: 15px;
	margin-bottom: 10px;
}

.products {
	font-family: "Alef Hebrew", Arial;
	font-size: 20px;
	color: #59332a;
	display: inline;
	position: absolute;
right: 57px;
margin-top: -1px;
}

.sectionWhiteBoard {
	position: relative;
	width: 230px;
	display: block;
	height: 28px;
}

.links{
	text-decoration: none;
	color:#9c1823;
}


/*/////////////////////////////////// Main Sections /////////////////////////*/
#fruitsAndVedgClass,#milkClass,#CannedFoodClass,#meatClass,#breadClass,#oilClass,#drinksClass{
	min-height: 408px;
	margin-top:45px;
	float:right;
	margin-left:114px;
}
#fruitsAndVedgClass{
	width:1580px;
}
#milkClass{
	width:726px;
}
#CannedFoodClass{
	width:622px;
}
#meatClass{
	width:722px;
}
#breadClass{
	width:716px;
}
#oilClass{
	width:817px;
}
#drinksClass{
	width:527px;
}

/*/////////////////////////////////// Sections //////////////////////////////*/

#fruitsAndVedg, #milk, #CannedFood, #meat, #bread, #oil, #drinks {
	/*position: absolute;
	top: 45px;*/
	float:right;
}
#fruitsAndVedg {
	width: 1240px;
	/*right: 997px;*/
}
#milk {
	width: 386px;
	/*right: 2691px;*/
}
#CannedFood {
	width: 282px;
	/*right: 3531px;*/
}
#meat {
	width: 382px;
	/*right: 4267px;*/
}
#bread {
	width: 376px;
	/*right: 5103px*/;
}
#oil {
	width: 477px;
	/*right: 5933px;*/
}
#drinks {
	width: 187px;
	/*right: 6864px;*/
}

/*/////////////////////////////////// Signs //////////////////////////////*/
.stories{
	margin-top: -45px;
	float:right;
	margin-left:33px;
}
#fruitsAndVedgSign,#milkSign,#CannedFoodSign,#meatSign,#breadSign,#oilSign,#drinksSign{
	width: 307px;
	height:114px;
}

#fruitsAndVedgSign {
	background: url("../images/shelet yarakot.png");
	/*right: 646px;*/
}
#milkSign {
	background: url("../images/shelet musrei halav.png");
	/*right: 2351px;*/
}
#CannedFoodSign {
	background: url("../images/shelet shimurim.png");
	/*right: 3191px;*/
}
#meatSign {
	background: url("../images/shelet of ve dagim.png");
	/*right: 3927px;*/
}
#breadSign {
	background: url("../images/shelet lehem dganim.png");
	/*right: 4763px;*/
}
#oilSign {
	background: url("../images/shelet shemen sukar mamtakim.png");
	/*right: 5593px;*/
}
#drinksSign {
	background: url("../images/shelet mashkaot.png");
	/*right: 6524px;*/
}
#whiteBoard {
	width: 292px;
	height: 500px;
	background: url("../images/kabala background.png");
	overflow-y: auto;
	opacity: 0.8;
	margin-right: 145px;
	margin-left: 89px;
	float:right;
}
#whiteBoard h2 {
	margin-top: 50px;
	margin-right: 13px;
	color: #9e151c;
}
#payment{
	float:right;
}
#payment>section:nth-child(1){
	width: 278px;
	height:316px;
	background: url("../images/shelet kupa.png");
}
#payment>section:nth-child(2){
	position:absolute;
	width: 278px;
	height: 260px;
	background: url("../images/cashier.png");
	bottom: 31px;
}

#cart {
	right: 104px;
	bottom: 7.5%;
	width: 150px;
	height: 134px;
	background: url("../images/agala.png");
	position: fixed;
	z-index: 1;
}

#arrows {
	width: 42px;
	height: 55px;
	background: url("../images/scroll left.png");
	bottom: 10%;
	position:fixed;
	left:39px;
}

#whiteBoard input[type=textbox] {
	width: 23px;
	height: 24px;
	vertical-align: 87px;
	border:0;
	color:#59332a;
	font-size: 20px;
	font-family: "Alef Hebrew";
	font-size: 24px;
padding-bottom: 11px;
 background: transparent;
    border: none;
}
#whiteBoard input[type=button] {
	width: 30px;
	height: 30px;
	vertical-align: 85px;
}
/*/////////////////////////////////// INFO //////////////////////////////*/
#fruitINFO, #milkINFO, #CannedFoodINFO, #meatINFO, #breadINFO, #oilINFO, #drinksINFO {
	width: 307px;
	height: 328px;
	position: relative;
}
#fruitINFO {
	background: url("../images/sipur yerakot.png");
}
#milkINFO {
	background: url("../images/sipur halav.png");
}
#CannedFoodINFO {
	background: url("../images/sipur shimurim.png");
}
#meatINFO {
	background: url("../images/sipur basar.png");
}
#breadINFO {
	background: url("../images/sipur dganim.png");
}
#oilINFO {
	background: url("../images/sipur shemen sucar.png");
}
#drinksINFO {
	background: url("../images/sipur drinks.png");
}
#fruitINFO>p, #milkINFO>p, #CannedFoodINFO>p, #meatINFO>p, #breadINFO>p, #oilINFO>p, #drinksINFO>p{
	font-family: "Alef Hebrew", Arial;
	text-align: center;
	position: absolute;
	bottom:0px;
	color:#FFFFFF;
}
#fruitINFO>p,#breadINFO>p,#oilINFO>p{
	font-size: 20px;
}
#milkINFO>p,#CannedFoodINFO>p,#drinksINFO>p{
	font-size: 18px;
}





.plusMinusButtons {
	float: right;
	width: 14px;
	height: 10px;
	margin-right: 10px;
}
#minus{
margin-top: 13px;
margin-right: -14px;
}
