header, footer, nav, main, section, article, nav, aside {
	display: block;
}
@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);
html, body {
	/* get rid of default spacing on the edges */
	margin: 0;
	padding: 0;
	/* get rid of that 2px window border in Internet Explorer 6 */
	border: 0;
	/* fill the height of the browser */
	height: 100%;
	/* no more scroll bar */
	overflow-y: hidden;
}
body {
	background: #F2EEE5;
	direction: rtl;
	position: relative;
	font-family: "Alef Hebrew", Arial;
}

main {
	height: 95%;
}
footer {
	position: absolute;
	bottom: 0px;
	background: #ac8c73;
	height: 5%;
	width: 8683px;
}
main > article {
	width: 400px;
	position: absolute;
	right: 104px;
	color: #9f161e;
}
main > article > h1 {
	font-size: 3.125em;
}
main > article > p {
	color: #9e8986;
	font-size: 1.4em;
	line-height: 40px;
}

.groceries {
	width: 76px;
	height: 121px;
	margin-left: 15px;
	margin-bottom: 10px;
}

/*/////////////////////////////////// Sections //////////////////////////////*/

#fruitsAndVedg, #milk, #CannedFood, #meat, #bread, #oil, #drinks {
	position: absolute;
	top: 45px;
}
#fruitsAndVedg {
	width: 1240px;
	right: 1010px;
}
#milk {
	width: 386px;
	right: 2668px;
}
#CannedFood {
	width: 282px;
	right: 3591px;
}
#meat {
	width: 382px;
	right: 4420px;
}
#bread {
	width: 376px;
	right: 5231px;
}
#oil {
	width: 477px;
	right: 6290px;
}
#drinks {
	width: 187px;
	right: 7292px;
}

/*/////////////////////////////////// Signs //////////////////////////////*/

#fruitsAndVedgSign, #milkSign, #CannedFoodSign, #meatSign, #breadSign, #oilSign, #drinksSign, #whiteBoard, #cashier, #checkout, #cart, #arrows {

	position: absolute;
}
#fruitsAndVedgSign {
	width: 335px;
	height: 91px;
	background: url("../images/shelet yarakot.png");
	right: 644px;
}
#milkSign {
	width: 297px;
	height: 118px;
	background: url("../images/shelet musrei halav.png");
	right: 2350px;
}
#CannedFoodSign {
	width: 399px;
	height: 118px;
	background: url("../images/shelet shimurim.png");
	right: 3163px;
}
#meatSign {
	width: 340px;
	height: 109px;
	background: url("../images/shelet of ve dagim.png");
	right: 4045px;
}
#breadSign {
	width: 293px;
	height: 120px;
	background: url("../images/shelet lehem dganim.png");
	right: 4912px;
}
#oilSign {
	width: 449px;
	height: 110px;
	background: url("../images/shelet shemen sukar mamtakim.png");
	right: 5787px;
}
#drinksSign {

	width: 320px;
	height: 109px;
	background: url("../images/shelet mashkaot.png");
	right: 6904px;
}
#whiteBoard {
	right: 7670px;
	width: 350px;
	height: 620px;
	background: #ffffff;
	overflow-y: auto;
	opacity: 0.8;
}
#checkout {
	margin-top:-150px;
	right: 8070px;
	width: 281px;
	height: 469px;
	background: url("../images/shelet kupa.png");
}
#cashier {
	right: 8070px;
	bottom: 30px;
	width: 286px;
	height: 282px;
	background: url("../images/cashier.png");
}

#cart {
	right: 104px;
	bottom:7.5%;
	width: 150px;
	height: 134px;
	background: url("../images/agala.png");
	position: fixed;
	z-index: 1;
}

#arrows {
	width: 145px;
	height: 64px;
	background: url("../images/hezim.png");
	bottom: 10%;
	right: 314px;
}
input[type=checkbox] {
	width: 76px;
	height: 121px;
	vertical-align: 32px;
	margin-left: 10px;
}
input[type=textbox] {
	width: 40px;
	height: 40px;
	vertical-align: 85px;
	margin-left: 10px;
	font-size: 30px;
}
input[type=button] {
	width: 76px;
	height: 60px;
	vertical-align: 85px;
}
/*/////////////////////////////////// INFO //////////////////////////////*/

#fruitINFO,#milkINFO,#CannedFoodINFO,#meatINFO,#breadINFO,#oilINFO,#drinksINFO{
	width: 334px;
	height: 253px;
	margin: 143px auto;
}
#fruitINFO {
	background-color: #565b3b;
}
#milkINFO{
	width: 270px;
	background-color: #2e3d90;
}
#CannedFoodINFO{
	width: 368px;
	background-color: #dec223;
}
#meatINFO{
	background-color: #9f161e;
}
#breadINFO{
	width: 286px;
	background-color: #565b3b;
}
#oilINFO{
	width:402px;
	background-color: #dec223;
}
#drinksINFO{
	float:right;
		width:280px;
	background-color: #2e3d90;
}
